:root 
{   
   --background: #ecf2f8;
   --violet: #7541c8;
   --grayish-blue: #48556a;
   --blackish-blue: #19212e;
   --gray: #cfcfcf;
}

*
{
   margin: 0;
   padding: 0;
}

html 
{
   font-size: 6.25%;
}

body 
{
   width: 100%;
   height: 100vh;
   box-sizing: content-box;
   background-color: #ecf2f8;
   font-size: 16rem;
   font-family: 'Barlow Semi Condensed', sans-serif;
}

.container 
{
   width: 90%;
   height: 80%;
   margin: 20% auto;
   display: grid;
   /* grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
   /* grid-template: repeat(5, minmax(300px, 1fr) / 1fr; para el responsive*/
   grid-template: repeat(5, 1fr) / 1fr;
   /* gap: 20px; */
   row-gap: 20px;
}

.items 
{
   border: 1px solid blue;
   border-radius: 15px;
   padding: 30px;
}

.items:first-child
{
   background-color: #7541c8;
   background-image: url('../images/bg-pattern-quotation.svg');
   background-repeat: no-repeat;
   background-position-x: 90%;
}

.info 
{
   margin-left: 20px;
}

.info h2
{
   font-size: 16rem;
   font-weight: 300;
}

.info h2:first-child
{
   color: #ecf2f8;
}

.info h2:last-child
{
   color: #d3a5df;
   font-size: 14rem;
   margin-top: 2px;
}

.text-content 
{
   margin: 20px 0 10px;
}

.text-content p:first-child 
{
   color: white;
   font-size: 22rem;
   font-weight: 500;
   line-height: 28rem;
   margin-bottom: 25px;
}

.text-content p:last-child
{
   color: #d3a5df;
   line-height: 22rem;
   letter-spacing: 0.6rem;
   font-size: 15rem;
}

.personal-info 
{
   display: flex;
}

.photo-1
{
   border-radius: 50%;
   width: 35px;
   border: 2px solid #d3a5df;
}